{% load static %}

{% block content %}
    <div class="container-fluid container-home">
    <div class="row">
      <div class="col-md-4">
        <h1>My Outflows</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary" href="{% url 'outflow_create' %}" role="button">Create Outflow</a>
      </div>
    </div>
  </div>
    {% for message in messages %}
        {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Registered at</th>
          <th scope="col">Registered by</th>
          <th scope="col">Value</th>
          <th scope="col">Shares</th>
        </tr>
      </thead>
      <tbody>
    {% if outflows %}
        {% for outflow in outflows %}
        <tr>
            <td><a href="{% url 'outflow_detail' outflow.id %}">{{ outflow.name }}</a>
            </td>
            <td>{{ outflow.category }}</td>
            <td>{{ outflow.registered_at|date:"d/m/Y" }}</td>
            <td>{{ outflow.registered_by }}</td>
            <td>{{ outflow.value }}</td>
            <td>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'outflow_detail' outflow.id %}">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
              </button>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'outflow_edit' outflow.id %}">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
              </button>
              <button type="button" class="btn btn-outline">
                <a href="{% url 'outflow_delete' outflow.id %}">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </button>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <td>Outputs were not found for the current month.</td>
    {% endif %}
      </tbody>
    </table>
{% endblock %}